<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table
        summary="This table shows how to create responsive tables using Tablesaw's functionality"
        class="table table-bordered table-hover tablesaw tablesaw-stack"
        data-tablesaw-mode="stack"
      >
        <caption class="text-center">
          An example of a responsive table based on
          <a href="https://github.com/filamentgroup/tablesaw" target="_blank">
            Tablesaw</a
          >:
        </caption>
        <thead>
          <tr>
            <th class="th-styles">Action</th>
            <th class="th-styles">Job Code</th>
            <th class="th-styles">Item Code</th>
            <th class="th-styles">Cost Center</th>
            <th class="th-styles">Description</th>
            <th class="th-styles">Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let dynamic of dynamicArray; even as isEven; let i = index"
            [ngClass]="{
              'tr-iseven': isEven
            }"
          >
            <td class="text-center">
              <img src="../../assets/img/delete.png" (click)="deleteRow(i)" />
            </td>
            <td>
              <div class="btn-group">
                <input
                  [(ngModel)]="dynamic.jobCode"
                  class="form-control custom-font-size"
                  type="text"
                />
                <i
                  class="fa fa-search searchclear themecolor"
                  (click)="open(mymodal, dynamic)"
                ></i>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <input
                  [(ngModel)]="dynamic.itemCode"
                  class="form-control custom-font-size"
                  type="text"
                />
                <i
                  class="fa fa-search searchclear themecolor"
                  (click)="open(mymodal, dynamic)"
                ></i>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <input
                  [(ngModel)]="dynamic.costcenter"
                  class="form-control custom-font-size"
                  type="text"
                />
                <i
                  class="fa fa-search searchclear themecolor"
                  (click)="open(mymodal, dynamic)"
                ></i>
              </div>
            </td>
            <td>
              <input
                [(ngModel)]="dynamic.description"
                class="form-control custom-font-size"
                type="text"
              />
            </td>
            <td>
              <input
                [(ngModel)]="dynamic.rate"
                class="form-control custom-font-size"
                type="text"
              />
            </td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      <button (click)="addRow()" class="btn btn-primary btn-theme">scan</button>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal class="modal-lg">
  <div class="modal-header modalheadercustombg modal-lg">
    <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" class="modalheadercustombg">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="container col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_description">Description</label>
                <input
                  id="form_searchvalue"
                  name="searchvalue"
                  class="form-control"
                  [value]=""
                  placeholder="Write your search string here..."
                  #searchkey
                />
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-labeled btn-primary btn-theme"
            (click)="search(searchkey)"
          >
            <span class="btn-label">
              <i class="fas fa-spinner fa-pulse" *ngIf="isSearchTriggered"></i>
              <i class="fas fa-search" *ngIf="!isSearchTriggered"></i> </span
            >Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> Sl. No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">{{ i }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemCode">
          <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Itcode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Itdesc }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Rate }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
          (click)="selectcontent(row)"
        ></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>
  </div>
</ng-template>
