<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row padding-left-breadcrumb">
            <app-bread-crumbs></app-bread-crumbs>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 float-md-none"></div>
            <div class="col-md-4 float-md-none text-center">
              <div class="left">
                <a
                  class="previous-next round"
                  [ngClass]="{
                    adisabled: index <= 0,
                    active: index > 0
                  }"
                  (click)="previous()"
                  >&#8249;</a
                >
              </div>
              <div class="right">
                <a
                  class="previous-next round"
                  [ngClass]="{
                    adisabled: index >= 1,
                    active: index >= 0 && index < 1
                  }"
                  (click)="next()"
                  >&#8250;</a
                >
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-toolbar float-md-right">
                <button
                  type="button"
                  id="btnSubmit"
                  class="btn btn-primary btn-sm mr-1 btn-theme
                  "
                >
                  Submit
                </button>
                <button
                  type="button"
                  id="btnCancel"
                  class="btn btn-primary btn-sm btn-theme"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
