<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row padding-left-breadcrumb">
            <app-bread-crumbs></app-bread-crumbs>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div
                          class="col-md-6"
                          style="min-width: 420px; min-height: 10px;"
                        ></div>
                      </div>
                    </div>
                    <div class="col"></div>
                    <div class="card">
                      <div class="card-body">
                        <div
                          class="col-md-6"
                          style="min-width: 420px; min-height: 10px;"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <app-data-table></app-data-table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 padding-left-custom">
                      <div class="left">
                        <a
                          class="previous-next round"
                          [ngClass]="{
                            adisabled: index <= 0,
                            active: index > 0
                          }"
                          (click)="previous()"
                          >&#8249;</a
                        >
                      </div>
                      <div class="right">
                        <a
                          class="previous-next round"
                          [ngClass]="{
                            adisabled: index >= 3,
                            active: index >= 0 && index < 3
                          }"
                          (click)="next()"
                          >&#8250;</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card top">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
