<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="card top">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                Row1
                <div class="col-md-3">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#">Library</a>
                      </li>
                      <li class="breadcrumb-item active">
                        Data
                      </li>
                    </ol>
                  </nav>
                </div>
                <div class="col-md-3">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#">Library</a>
                      </li>
                      <li class="breadcrumb-item active">
                        Data
                      </li>
                    </ol>
                  </nav>
                </div>
                <div class="col-md-3">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#">Library</a>
                      </li>
                      <li class="breadcrumb-item active">
                        Data
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card top">
        <div class="card-body">
          <div class="row">
            row2
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div
                          class="col-md-6"
                          style="min-width: 450px; min-height: 10px;"
                        ></div>
                      </div>
                    </div>
                    <div class="col"></div>
                    <div class="card">
                      <div class="card-body">
                        <div
                          class="col-md-6"
                          style="min-width: 450px; min-height: 10px;"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card top">
        <div class="card-body">
          <div class="row">
            row3
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
