/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

@import '~ionicons/css/ionicons.min.css';

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~ngx-toastr/toastr';

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.main-bg {
  background: url(./assets/img/bg2.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 100vh;
}

.icon {
  max-width: 20px;
}
.themecolor {
  color: #6a98ca;
}
